:root {
    --logo-font: 'Urbanist', sans-serif;
    --main-font: 'Arimo', sans-serif;
}

.logo {
    font-family: var(--logo-font);
}

.body-container {
    display: grid;
    grid-template-columns: 1fr 0; /* FIXME ekrime */
    grid-template-areas: "react-app emulator-screen" "debug-section debug-section";
}

.body-container .react-app {
    grid-area: "react-app";
}

.body-container .emulator-screen {
    grid-area: "emulator-screen";
    overflow: hidden; /* FIXME ekrime */
}

.body-container .debug-section {
    grid-area: "debug-section";
}
