:root {
    --logo-font: 'Urbanist', sans-serif;
    --main-font: 'Arimo', sans-serif;
}

.logo {
    font-family: var(--logo-font);
}

.body-container {
    display: grid;
    grid-template-columns: 1fr 0; /* FIXME ekrime */
    grid-template-areas: "react-app emulator-screen" "debug-section debug-section";
}

.body-container .react-app {
    grid-area: "react-app";
}

.body-container .emulator-preview {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
    pointer-events: none;
    width: 20vw;
    height: calc(20vw * 3 / 4);
}

.body-container .emulator-preview .emulator-screen {
    opacity: 0.5;
    max-width: 100%;
    max-height: 100%;
}

.body-container .emulator-preview .emulator-screen canvas {
    image-rendering: auto !important;
    image-rendering: smooth !important;
}

.body-container .emulator-preview .emulator-screen:fullscreen {
    opacity: 1;
}

.body-container .debug-section {
    grid-area: "debug-section";
}

.body-container .emulator-preview .fullscreen-toggle {
    width: 10%;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 11;
    pointer-events: auto;
    cursor: pointer;
}
