@import "../variables.scss";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.leftWidgets {
    background-color: $left-widget-group-color;
}

.middleWidgets {
    background-color: $middle-widget-group-color;
}

.rightWidgets {
    background-color: $right-widget-group-color;
}
