@import "../variables.scss";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$left-widget-button-color: shade-color($left-widget-group-color, 25%);
$middle-widget-button-color: shade-color($middle-widget-group-color, 25%);
$right-widget-button-color: shade-color($right-widget-group-color, 25%);

$widget-button-colors: (
    "left": $left-widget-button-color,
    "middle": $middle-widget-button-color,
    "right": $right-widget-button-color,
);

@each $button, $color in $widget-button-colors {
    .btn.btn-#{$button}Widget {
        @include button-variant(
            $color,
            $color,
            $hover-background: shade-color($color, $btn-hover-bg-shade-amount),
            $hover-border: shade-color($color, $btn-hover-border-shade-amount),
            $active-background: shade-color($color, $btn-active-bg-shade-amount),
            $active-border: shade-color($color, $btn-active-border-shade-amount)
        );
    }
}
